
<div class="col-md-8 col-lg-8 col-md-offset-1 col-lg-offset-1">
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">Class Rooms</div>

        <!-- Table -->
        <table class="table">
            <thead>
            <tr>
                <th>Class Name</th>
                <th>School</th>
                <th>Teachers</th>
            </tr>
            </thead>
            <tr ng-repeat="classroom in classrooms.allClassroom">
                <td><a href="#/classrooms/{{ classroom.id }}/detail" >{{ classroom.name }}</a></td>
                <td>{{ classroom.school.name }}</td>
                <td><a href= "#/classrooms/{{ classroom.id }}"> {{ classroom.teacher }} </a></td>
            </tr>
        </table>
    </div>
</div>